* {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  h1 {
    color: Black;
    text-align: center;
  }
  
  h2 {
    color: Black;
    text-align: center;
  }

  h3 {
    color: Black;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
  
  img {
    display: block;
    margin: auto;
    width: 1000px;
    height: 750px;
    }

  p{
    text-align: center;
    align: center;
  }
  li {
    font-size: 18px;
  }
  
  
  a {
    text-decoration: none;
  }
  
  table, th, td {
    border: 1px solid black;
    align: center;
    text-align: center;
    margin: 0 auto;
  }
  ul{
    list-style-type: None;
  }
  audio {
    width: 7.0cm;
    height: 1.2cm;
  }

.centered-figure figcaption {
  text-align: center;
  font-weight: bold;
}

.centered-figure hr {
  width: 100%; /* or whatever width you want */
  border: 1.2px solid #ccc; /* or any other color */
  margin: 10px auto; /* centers the <hr> and adds a margin on the top and bottom */
}

.abstract {
  width: 60%;          /* Define the width of the abstract */
  margin: 0 auto;      /* Center the abstract horizontally */
  text-align: center; /* Justify the text, optional */
  padding: 10px;       /* Some padding around the text, optional */
  /* border: 2px solid #fffefe; A border around the abstract, optional */
  /* box-shadow: 0 4px 8px rgb(245, 241, 241); A subtle shadow for some depth, optional */
}